* {
    background-color: #F8F8FF;
    color: black;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0 auto;
    padding: 0;
}

.app {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    grid-template: 40vh 60vh / 15% 70% 15%;
}

.title {
    padding-top: 10vh;
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    justify-content: center;
}

.menu {
    grid-row: 2;
    grid-column: 1;
}

li {
    list-style: none;
}

.text {
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    grid-row: 1;
    grid-column: 2;
    overflow: hidden;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.carousel-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
}

.carousel-item {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: 100vh;
}

form {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
}

input {
    width: 300px;
}