{% extends 'cozumel/base.html' %}

{% block content %}
<div class="header-container">
    <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdKwvFekDt_VNRsx_dm1ZehgG01e__aGE&q=Centro+San+Miguel+de+Cozumel+Quintana Roo+Mexico" 
            allowfullscreen>
    </iframe>
</div>
<section class="text">
    <h1 class="title">About</h1>
    <p>About the condo and Cozumel</p>
</section>
{% endblock %}